.title{

    color:beige;
    margin-left: 27%;
    font-family: cursive;
    font-size:40px;
    margin-top: 3%;


}

.Currencyform{
    margin-top: 2%;
    background-color: #dddfd4;
    box-shadow: 2px 2px #e3e0cf, -2px 0 2px #e3e0cf;
    border-radius: 1rem;
    height: 70%;
    width: 60%;
    position: absolute;
    left: 19%;
    
}

.App{
    background-color: #111227;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}